.cono{
    background: #ECF0F1;
    padding-top: 0.40rem;
    padding-bottom: 0.50rem;
}

.cono__titulo{
    color: #2c2c2c;
    text-align: center;
    font-size: 3.0rem;
    text-shadow: 1px 1px 0 #edff21, 1px -1px 0 #edff21, -1px 1px 0 #edff21, -1px -1px 0 #edff21;
}

.cono__lista{
    display: flex;
    justify-content: space-evenly;
}

.cono__pro{
    list-style: none;
    float: left;
    font-size: 1.5rem;
}

